body {
  font-family: 'Poppins', 'Arial', sans-serif;
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: auto;
  box-sizing: border-box;
}

p {
  color: white;
  font-size: 12px;
  margin-top: 5px;
}

.container {
  width: 60%;
  height: 600px;
  margin-top: 30px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
}

header {
  text-align: center;
  padding-top: 50px;
}

header p {
  color: #00dd00;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
}

.logo {
  width: 180px;
  margin-top: 35px;
}

nav {
  background-color: #00dd00;
  width: 85%;
  text-align: center;
  padding: 5px 0 10px;
}

nav > button {
  font-size: 8px;
  font-weight: bold;
}

main {
  margin-top: 15px;
  width: 85%;
}

.monopattini {margin-top: 20px;}
.monopattini > h4 { color: #fff; font-weight: 600;}
.monopattini h4:before { content: "\25A0"; color: #fff; margin-right: 5px;}

.indirizzo:before {content: "\21A6"; color: #fff;margin-right: 5px;}

.battery {border-radius: 3px; height: 25px;margin-left: 0;}
.max {background-color: #1ec31e; width: 60%;}
.medium {background-color: #f5b453;width: 35%;}
.min {background-color: #be4141;width: 15%;}


footer {
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.
